<h1>Github Explorer</h1>
<hr>
<p>This is the Github explorer for all of our favorite developers</p>
<div class="input-group">
    {{input class="form-control" type="text" key-up="performSearch" placeholder="Input search term..."}}
    <span class="input-group-addon">
        {{fa-icon "fa-search"}}
    </span>
</div>
{{#if showSpinner}}
<h2 class="text-center">
    {{fa-icon "fa-spinner fa-pulse"}} Loading...
</h2>
{{else}}  
    {{#if gitResult.items.length}}
        <table class="table table-striped" style="margin-top: 20px;">
            <thead>
                <tr>
                    <th style="width: 60px">Avatar</th>
                    <th>Login name</th>
                </tr>
            </thead>
            <tbody>
                {{#each gitResult.items as |item|}}
                    {{#link-to "user" item.login tagName="tr" class="pointer-cursor"}}
                        <td class="text-center">
                            <img src={{item.avatar_url}} alt="" class="img-circle" style="width:50px">
                        </td>
                        <td style="vertical-align: middle;">
                            {{item.login}}
                        </td>
                    {{/link-to}}
                {{/each}}
            </tbody>
        </table>
    {{else}} 
        {{#if gitResult}}
            <h2 class="text-center">No result</h2>
        {{/if}}
    {{/if}}
{{/if}}