<div class="row">
    <div class="col-md-3">
        <div class="well">
            <p class="text-center">
                {{#link-to "user" model}}<img src={{model.avatar_url}} style="width:140px;"> {{/link-to}}
            </p>
            <h4>{{#link-to "user" model}} {{model.name}} {{/link-to}}</h4>
            <p>
                {{model.company}} <br> {{model.location}} <br> {{model.email}} <br>
            </p>
            <hr>
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td>Followers:</td>
                        <td>{{model.followers}}</td>
                    </tr>
                    <tr>
                        <td>Repositories:</td>
                        <td>{{model.public_repos}}</td>
                    </tr>
                    <tr>
                        <td>Gists:</td>
                        <td>{{model.public_gists}}</td>
                    </tr>
                </tbody>
            </table>
            <p>
                {{#link-to "index"}} Back {{/link-to}}
            </p>
        </div>
    </div>
    <div class="col-md-8">
        {{outlet}}
    </div>
</div>